<div class="header-container">
    <div class="header-logo">
        <a href=""><img src="resources/images/logo.svg" alt="Logo"></a>
    </div>
    <div class="header-menu text-spartan">
        <div class="header-menu-container">
            <a id="beranda" href="index.html" class="text-primary">Beranda</a>
            <a id="materi" href="jsdasar.html" class="text-primary ">Materi</a>
            <a id="form" href="form.html" class="text-primary ">Form</a>
        </div>
    </div>
</div>